@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=IBM+Plex+Sans&family=Inter:wght@400;800;900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=IBM+Plex+Sans&family=Inter:wght@400;700;800;900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=IBM+Plex+Sans&family=Inter:wght@400;700;800;900&family=Poppins&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    color: #c0bbbb;
    max-width: 1440px;
}


.logo{
    display: flex;
    margin-left: 20%;
    padding: 30px;
}


.web-img{
    width:600px;
    height:60%;
}

.one{
    font-weight: bold; 
    color: hsl(35, 77%, 62%);
    margin-top: 1%;
    font-size: 25px;
}


.mini-p{
    font-size: 11px; 
    padding-bottom: 20px;
}




p{
    font-size: 12px;
    color: gray;
    font-weight: 400;
}

.div-container{
    display: flex;
    width: 100%;
}




nav{
    width: 1000px;
    padding-top: 25px;
}




ul{
    display: flex;
    margin-left: 480px;
    gap: 2rem;
    
}


.preceeding{
    display: flex;
    margin-left: 25%;
    margin-top: -14%;
    position: relative;
    right: 7.5%;
    width: 100%;
}


.para-sec{
    margin-top: 3%;
    padding-right: 10px;
    position: relative;
    left: 9%;
}




button{
    color: white;
    background-color: hwb(5 31% 5%);
    font-size: 10px;
    letter-spacing: 2.5px;
    font-weight: bold;
    padding: 13px 30px;
    border:  hsl(5, 85%, 63%);
    margin-top: 8%;
}


h1{
    font-weight: 900;
    color: black;
    font-size: 40px;
    margin-bottom: 4%;
   
}


.bright{
    margin-top: 2%;
    margin-left: 1%;
}


li{
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    color: rgb(90, 88, 88);
   
}


.hero-container{
    display: flex;
    justify-content: center;
    

  
  
  
}
.mini{
    display: flex;
    padding: 20px;
    margin-right: 20%;
}


.img{
    display: flex;
    margin-left: 25%;
    height: 30%;
    margin-top: 17px;
    width: 50%;
    position: relative;
  
}


.mini-container{
    width: 230px;
    height: 340px;
    padding: 20px;
    color: white;
    background: rgb(1, 1, 26);
    background-color: -webkit linear-gradient (to top hsl(240, 100%, 5%) , hsl(236, 13%, 42%) , hsl(233, 8%, 79%));
}


.move{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.move h4{
color: black;
font-size: 15px;
font-weight: 3rem;
margin-bottom: 3%;
}

.move h2{
    margin-bottom: 3%;
}


.child{
    display: inline-block;
   
}


.games{
    width: 80px;
    height: 110px;
}
